#presentation {
    padding-bottom: 2em;
}

#presentation-header {
    padding-top: 1em;
}

#presentation h1 {
    font-weight: 300;
}

#presentation h2 {
    font-weight: 300;
    font-size: 1.5em;
    padding-top: 2em;
}

#avatar {
    background-color: #b3b1a7;
    /*#FBEEC1;*/
}