<div id="contactme" class="color-bg-section p-4">
  <div class="container">
    <h3 class="text-center p-4 m-0">
      <b>Contact Me</b>
    </h3>

    <ul class="list-inline text-center">
      <li class="list-inline-item">
        <a target="_blank" href="https://github.com/jponf/">
          <fa-icon [icon]="faGithub"></fa-icon>
        </a>
      </li>

      <li class="list-inline-item">
        <a target="_blank" href="https://www.linkedin.com/in/jponf/">
          <fa-icon [icon]="faLinkedin"></fa-icon>
        </a>
      </li>

      <li class="list-inline-item">
        <a target="_blank" href="https://twitter.com/josep_pon">
          <fa-icon [icon]="faTwitter"></fa-icon>
        </a>
      </li>
    </ul>

  </div>
</div>
