<div id="publications" class="color-bg-section p-4">
    <div class="container text-white">
        <h3 class="p-4 text-center">
            <b>Publications</b>
            <a itemscope itemtype="https://schema.org/Person" itemprop="sameAs"
               content="https://orcid.org/0000-0002-1212-1577"
               href="https://orcid.org/0000-0002-1212-1577"
               target="orcid.widget"
               rel="me noopener noreferrer"
               style="vertical-align:top;">
                <i id="orcid-icon" class="fab fa-orcid" alt="ORCID iD icon"></i>
            </a>
        </h3>

        <ul class="text-center text-dark m-0 p-0" style="list-style: none;">
            <li>
                <p>Carlos Ansótegui, Jesús Ojeda, Antoni Pacheco, Josep Pon,
                   Josep Mª Salvia, Eduard Torres</p>
                <p><b>OptiLog: A Framework for SAT-based Systems</b></p>
                <p>Theory and Applications of Satisfiability Testing – SAT 2021</p>
                <p><a target="_blank" class="text-primary"
                      href="https://doi.org/10.1007/978-3-030-80223-3_1">
                    DOI: 10.1007/978-3-030-80223-3_2
                </a></p>
            </li>
            <li>
                <p>Carlos Ansótegui, Josep Pon, Meinolf Sellmann, Kevin Tierney</p>
                <p><b>PyDGGA: Distributed GGA for Automatic Configuration</b></p>
                <p>Theory and Applications of Satisfiability Testing – SAT 2021</p>
                <p><a target="_blank" class="text-primary"
                      href="https://doi.org/10.1007/978-3-030-80223-3_2">
                    DOI: 10.1007/978-3-030-80223-3_2
                </a></p>
            </li>

            <li>
                <p>Carlos Ansótegui, Josep Pon, Meinolf Sellmann</p>
                 <p><b>Boosting evolutionary algorithm configuration.</b></p>
                 <p>Annals of Mathematics and Artificial Intelligence 2021</p>
                 <p><a target="_blank" class="text-primary"
                       href="https://doi.org/10.1007/s10472-020-09726-y">
                       DOI: 10.1007/s10472-020-09726-y
                 </a></p>
            </li>
            <li>
                <p>Carlos Ansótegui, Britta Heymann, Josep Pon, Meinolf Sellmann,
                   Kevin Tierney
                </p>
                <p><b>Hyper-Reactive Tabu Search for MaxSAT.</b></p>
                <p>International Conference on Learning and Intelligent Optimization - LION 2018</p>
                <p><a target="_blank" class="text-primary"
                      href="https://doi.org/10.1007/978-3-030-05348-2_27">
                    DOI: 10.1007/978-3-030-05348-2_27
                </a></p>
            </li>
            <li>
                <p>Carlos Ansótegui, Josep Pon, Meinolf Sellmann, Kevin Tierney
                 </p>
                 <p><b>Reactive Dialectic Search Portfolios for MaxSAT.</b></p>
                 <p>Association for the Advancement of Artificial Intelligence - AAAI 2017</p>
                 <p><a target="_blank" class="text-primary"
                       href="http://aaai.org/ocs/index.php/AAAI/AAAI17/paper/view/14872">
                     aaai.org (open access)
                 </a></p>
            </li>
        </ul>
    </div>
</div>