<div id="publications" class="color-bg-section p-4">
    <div class="container text-white">
        <h3 class="p-4 text-center">
            <b>Publications</b>
        </h3>

        <ul class="text-left text-dark">
            <li>
                <p>Carlos Ansótegui, Britta Heymann, Josep Pon, Meinolf Sellman,
                   Kevin Tierney
                </p>
                <p><b>Hyper-Reactive Tabu Search for MaxSAT.</b></p>
                <p>LION 2018: 309-325</p>
                <p><a target="_blank" class="text-primary"
                      href="https://doi.org/10.1007/978-3-030-05348-2_27">
                    DOI: 10.1007/978-3-030-05348-2_27
                </a></p>
            </li>
            <li>
                <p>Carlos Ansótegui, Josep Pon, Meinolf Sellman, Kevin Tierney
                 </p>
                 <p><b>Reactive Dialectic Search Portfolios for MaxSAT.</b></p>
                 <p>AAAI 2017: 765-772</p>
                 <p><a target="_blank" class="text-primary"
                       href="http://aaai.org/ocs/index.php/AAAI/AAAI17/paper/view/14872">
                     aaai.org (open access)
                 </a></p>
            </li>
            <li>
                <p>Carlos Ansótegui, Josep Pon, Meinolf Sellman
                 </p>
                 <p><b>Boosting evolutionary algorithm configuration.</b></p>
                 <p>Annals of Mathematics and Artificial Intelligence 2021</p>
                 <p><a target="_blank" class="text-primary"
                       href="https://doi.org/10.1007/s10472-020-09726-y">
                       DOI: 10.1007/s10472-020-09726-y
                 </a></p>
            </li>
        </ul>
    </div>
</div>