

#publications li p {
    font-size: 1.1em;
    padding: 0;
    margin: 0;
}

#publications li {
    margin-bottom: 1rem;
}

#orcid-icon {
    color: #a6ce39;
    background-color: white;
    border-radius: 50%;
}
