.skill-card-body {
    padding: 1rem;
}

.skill-card-body h4 {
    font-weight: 400;
}

.skill-head h4 {
    vertical-align: middle;
}

.skill-progress-bar {
    /* background: linear-gradient(45deg, #fbeec1, #8d8741) !important; */
    /* background: linear-gradient(45deg, #7395ae, #379683) !important; */
    background: linear-gradient(90deg, #718f89, #65ae8f, #65ae82);
}

.skill-extra-info {
    padding-bottom: 0;
    margin-bottom: 0;
}