<div id="aboutme" class="color-bg-section p-4">
    <div class="container-sm text-white text-center">
        <h3 class="p-4 mt-4">
            <b>Hi! Nice to meet you. Welcome to Portfolio.</b>
        </h3>

        <p class="mx-auto mt-4 pt-4 mb-1 pb-1">
            My background is in computer science and I have been working mainly
            in the field of Data Science and Machine Learning, implementing
            and serving intelligent solutions. I have used classical and
            deep learning techniques, although due to the solutions nature
            I have been experimenting mostly with the latter, more precisely
            for tasks related to computer vision (CV) and natural language
            processing (NLP).
        </p>

        <p class="mx-auto mt-1 pt-1 mb-1 pb-1">
            Previous and non-professinal experience include implementing
            optimization solutions using genetic algorithms, SAT and MIP
            technologies, and the deployment and maintenance of a high
            performance computing cluster.
        </p>

        <p class="mx-auto mt-1 pt-1 mb-4 pb-4">
            I mostly use Python as it is the de facto language for ML tasks
            and has plenty of libraries to implement solutions for other
            domains, but I also enjoy working with other languages and
            frameworks that look promising.
        </p>
    </div>
</div>