<div id="aboutme" class="color-bg-section p-4">
    <div class="container-sm text-white text-center">
        <h3 class="p-4 mt-4">
            <b>Hi! Nice to meet you. Welcome to Portfolio.</b>
        </h3>
        <div class="d-sm-none d-none d-md-block d-lg-block">
            <p style="width: 75%;" class="letter mx-auto mt-4 pt-4 mb-4 pb-4">
                My background is in computer science and I have been working mainly
                in the field of Data Science and Machine Learning, implementing
                and serving intelligent solutions. I have used classical and
                deep learning techniques, although due to the solutions nature
                I have been experimenting mostly with the latter, more precisely
                for tasks related to computer vision (CV) and natural language
                processing (NLP).
            </p>
        </div>

    </div>
</div>