:host {
  display: block;
}

.software-list>.row {
    overflow-x: auto;
    overflow-y: hidden;

    /* Firefox scrollbar */
    scrollbar-color: #a3aeb6 #d6d6d6;
    scrollbar-width: thin;
}

/** Blink & Webkit scrollbar**/
/* width */
div.software-list ::-webkit-scrollbar {
    width: 10px;
}

/* Track */
div.software-list ::-webkit-scrollbar-track {
    background: #d6d6d6;
    border-radius: 10px;
}

.webapps-list>.row {
    overflow-x: auto;
    overflow-y: hidden;

    /* Firefox scrollbar */
    scrollbar-color: #d58e51 #d6d6d6;
    scrollbar-width: thin;
}


#github-stats-button {
    color: #d58e51;
}
