<div id="contactme" class="img-bg-section p-4">
    <div class="container">
        <h3 class="text-center p-4 m-0">
            <b>Contact Me</b>
        </h3>

        <ul class="list-inline text-center">
            <li class="list-inline-item">
                <a href="https://github.com/jponf/">
                    <i class="fab fa-github"></i>
                </a>
            </li>

            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/jponf/">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>

            <li class="list-inline-item">
                <a href="https://twitter.com/josep_pon">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
        </ul>

    </div>
</div>