#main-navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    /* background-color: #a17741; /* #DAAD86;*/
    background-color: #5d5c61;
}

.navbar-nav a {
    color: white;
}

.navbar-scroll-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.navbar-scroll-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}