<nav id="main-navbar" class="navbar navbar-dark navbar-expand-lg
                             navbar-scroll-up
                             fg-light justify-content-between">
    <div class="container-sm">
        <a class="navbar-brand" href="#presentation">Josep Pon Farreny</a>

        <!-- Toggler/collapsible button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"/>
        </button>

        <!-- Collapsible navbar items -->
        <div id="collapsibleNavbar" class="navbar-collapse collapse">
            <links class="navbar-nav">
                <a class="nav-item nav-link waves-effect waves-dark"
                    href="#aboutme">About</a>
                <a class="nav-item nav-link waves-effect waves-dark"
                    href="#techs">Technologies</a>
                <a class="nav-item nav-link waves-effect waves-dark"
                    href="#projects">Projects</a>
            </links>
        </div>
    </div>
</nav>