
.software-list > .row {
    overflow-x: auto;
    overflow-y: hidden;

    /* Firefox scrollbar */
    scrollbar-color: #d58e51 #d6d6d6;
    scrollbar-width: thin;
}

/** Blink & Webkit scrollbar**/
/* width */
div.software-list ::-webkit-scrollbar {
    width: 10px;
}

/* Track */
div.software-list ::-webkit-scrollbar-track {
    background: #d6d6d6 ;
    border-radius: 10px;
}

/* Handle */
div.software-list ::-webkit-scrollbar-thumb {
    background-color: #d58e51 ;
    border-radius: 10px;
}

/* Handle on hover */
div.software-list ::-webkit-scrollbar-thumb:hover {
    background-color: #dfaa7c;
}

/** Software list cards **/
.software-card-body {
    padding: 1rem;
}

.software-head a {
    text-decoration: none;
    color: #d58e51; /*#cc9667;*/
}

.software-head a:hover {
    transition: .2s ease-in-out;
    color: #e5cab3;
}

.software-head h4 {
    font-weight: 400;
    vertical-align: middle;
}

.software-languages {
    text-align: right;
}

.software-languages span {
    margin-right: 0.75rem;
}

.software-languages span:last-child {
    margin-right: 0;
}

.webapps-list > .row {
    overflow-x: auto;
    overflow-y: hidden;

    /* Firefox scrollbar */
    scrollbar-color: #d58e51 #d6d6d6;
    scrollbar-width: thin;
}

#software-github-stats-button {
    color: #d58e51;
}