<div id="software" class="img-bg-section p-4">
    <div class="container">
        <h3 class="text-center p-4">
            <b>Software</b>
        </h3>

        <div class="software-list">
            <div id="software-deck" class="row flex-nowrap">
            </div>
        </div>

        <h4 class="text-center mt-2 p-4">
            <b>Web Applications</b>
        </h4>
        <div class="webapps-list">
            <div id="webapps-deck" class="row justify-content-center flex-nowrap">
            </div>
        </div>

        <div class="mt-2 accordion">
            <div class="card">
                <div class="card-header">
                    <button id="software-github-stats-button" class="btn btn-link btn-block text-center" type="button"
                        data-toggle="collapse" data-target="#software-github-stats" aria-expanded="false"
                        aria-controls="software-github-stats">
                        <h5 class="m-0">
                            GitHub Stats
                        </h5>
                    </button>
                </div>
                <div id="software-github-stats" class="collapse">
                    <div class="card-body row justify-content-center">
                        <img class="col-sm-12 col-lg-6" alt=""
                            src="https://github-readme-stats.vercel.app/api?username=jponf&show_icons=true&count_private=true&theme=gruvbox" />
                        <img class="col-sm-12 col-lg-6 mt-3 mt-lg-0" alt=""
                            src="https://github-readme-stats.vercel.app/api/top-langs/?username=jponf&langs_count=8&layout=compact" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>