/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.color-bg-section {
    background: linear-gradient(0deg, #dab99d  0%, #cc9667  100%);
}

.img-bg-section {
    background-attachment: fixed;
    background-image: url(@/assets/images/abstract-graph.min.svg); /* <a href="https://www.vecteezy.com/free-vector/vector">Vector Vectors by Vecteezy</a> */
    background-repeat: no-repeat;
    background-size: cover;
}

#footer-container {
    background-color: #868686;
    padding: 0;
    margin: 0;
}

#footer-container:after {  /* height to child content */
    content: " ";
    display: block;
    clear: both;
}

#footer-left {
    background-color: inherit;
    float: left;
    height: 100%;
    width: 35%;
    padding: 1rem 0 0 0;
    margin: 0;
}


#footer-left p {
    font-weight: 300;
    vertical-align: middle;
    color: white;
    padding-left: 1rem;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin: 0;
}

#footer-right {
    background-color: inherit;
    float: right;
    height: 100%;
    width: 65%;
    padding: 1rem 1rem 0 0;
    margin: 0;
}

#footer-right p {
    text-align: right;
    font-weight: 300;
    font-size: 0.8rem;
}

#footer-right a {
    color: white;
}

#footer-right a:visited {
    color: white;
}
